<!-- Button trigger modal -->
<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
    CGU et traitement des données
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nos Conditions Générales Utilisation.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h6>Conditions Générales d'utilisation </h6>
            <p>
                Les utilisateurs sont invités à lire attentivement et à comprendre les présentes conditions générales d’utilisation. 
                Ils s’engagent à respecter la totalité des dispositions qu’elles contiennent. La navigation sur le site https://association-manager.go.yj.fr, 
                propriété de Association Manager et exploité par Association Manager et l’accès au service proposé par Association Manager supposent 
                l’acceptation pleine et entière des présentes conditions.<br>
                (...détails à venir)
            <hr>
            <h6>Données personnelles</h6>
            <p>
                Conformément au Règlement Général sur la Protection des Données (RGPD) entré en application le 25 mai 2018, 
                les données à caractère personnel recueillies dans le cadre du présent formulaire peuvent faire l’objet 
                d’un traitement informatisé par notre société. Le responsable du traitement est la société Association Manager.
                <br><br>
                Vos données personnelles ainsi collectées le sont aux fins de mise en œuvre et de réalisation des prestations 
                que nous proposons sur notre Plateforme en vue notamment de créer et gérer votre profil utilisateur, 
                créer et gérer votre accès à la Plateforme HelloAsso et aux services accessibles en ligne, réaliser de 
                l'animation commerciale directement ou à travers nos partenaires, effectuer des études statistiques et respecter nos obligations légales et réglementaires.
                <br></br>
                Ces données personnelles sont conservées pour la durée nécessaire à l’accomplissement des finalités pour 
                lesquelles elles sont traitées. Pendant cette période, nous mettons en place tous moyens aptes à assurer la confidentialité et 
                la sécurité de ces données personnelles. L'accès à vos données personnelles est strictement limité à notre personnel et, le cas échéant, 
                à nos sous-traitants. Les sous-traitants en question sont soumis à une obligation de confidentialité et ne peuvent utiliser 
                vos données qu’en conformité avec nos dispositions contractuelles et la législation applicable. En dehors des cas énoncés ci-dessus, 
                nous nous engageons à ne pas vendre, louer, céder ni donner accès à des tiers à vos données sans votre consentement préalable, 
                à moins d’y être contraints en raison d’un motif légitime (obligation légale, lutte contre la fraude ou l’abus, exercice des droits de la défense, etc.)
                <br></br>
                Les données personnelles ainsi recueillies peuvent donner lieu à l’exercice de droits notamment le droit d’accès, de rectification, d’opposition. 
                Vous disposez également du droit de donner des instructions spécifiques ou générales concernant la conservation, 
                l’effacement et la communication, de vos données. Pour exercer l’un de ces droits, vous pouvez écrire à l’adresse e-mail suivante :
                "asso.manag@gmail.com"

                Notre adresse postale vous sera mis à disposition prochainement.
            </p>
        </p> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer la fenêtre</button>
        </div>
        </div>
    </div>
</div>