{% extends "base.html.twig" %}
{% block title %}Annonces{% endblock %}
{% block body %}
    
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    {# {% include "/ad_admin/partials/_alert.html.twig" %} #}

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ year  sales section ] end-->
                                <!-- [ Hover-table ] start -->

                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADVERTISER')%}

                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Annonces mobile</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>URL préfix</th>
                                                                <th>Slug de l'annonce</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if is_granted('ROLE_ADMIN') %}

                                                                {% if advertisements|length > 0 %}
                                                                    {% include "ad_public_mobile/advertisement/index.html.twig.filter/_ad_filter_admin.html.twig" %}
                                                                    {% else %}
                                                                        <tr>
                                                                            <td valign="top" colspan="3">
                                                                                Aucune annonce n'a encore été enregistrée.
                                                                            </td>
                                                                        <tr>
                                                                {% endif %}
                                                                    {% elseif is_granted('ROLE_ADVERTISER') %}
                                                                        {% if advertisementsByUser|length > 0 %}
                                                                            {% include "ad_public_mobile/advertisement/index.html.twig.filter/_ad_filter_advertiser.html.twig" %}
                                                                            {% else %}
                                                                                <tr>
                                                                                    <td valign="top" colspan="3">
                                                                                        Aucune annonce n'a encore été enregistrée.
                                                                                    </td>
                                                                                <tr>
                                                                        {% endif %}
                                                                {% else %}
                                                                Vous n'êtes pas autorisé.
                                                            {% endif %}
                                                            
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th>URL préfix</th>
                                                                <th>Slug de l'annonce</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% else %}
                                    Vous n'avez pas les droits nécessaires pour afficher ce contenu.
                                {% endif %}
                                <!-- [ Hover-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
    
{# {% block javascripts %}
    <script src="{{ asset('assets/js/_alert.js') }}"></script>
{% endblock %} #}