{% extends 'error.html.twig' %}

{% block title %}400{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <span class="display-1 d-block">404</span>
    <div class="mb-4 lead">La page que vous recherchez n'a pas été trouvée.</div>
    <a href="{{ path('admin_advertisement_home') }}" class="btn btn-link">Régie publiciateire</a>
{% endblock %}

